

.mainContainer{
    display: flex;
    justify-content: center;
    background-color: #0d1117;

}

.leftBody{
    
    width: 18%;
    height: 91vh;
    border-right: 1px solid white;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}

.leftListItem{
    list-style: none;
    margin: 20px  0;
    font-size: medium;
}


.ritBody{
    
    width: 82%;
    height: 91vh;
}